<div class="menu">
    <nav class="navbar" id="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 no-padding">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="slide-collapse" data-target="#menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <div id="logo"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding">
                    <div class="collapse navbar-collapse" id="menu"> 
                        <ul class="nav navbar-nav">
                            {% for item in menu %}
                                {% if is_granted(item.is_granted) %}
                                    <li>
                                        <a href="{{path(item.route)}}">{{item.name}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <form action="" class="search-form">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="search">
                            <span class="fa fa-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
<script>
    $('[data-toggle="slide-collapse"]').on('click', function () {
        $navMenuCont = $($(this).data('target'));
        $navMenuCont.animate({'width': 'toggle'}, 350);
        $('.navbar-header button').toggleClass("hovered");
    });

    $(document).ready(function () {
        if ($('.produit_list').length) {
            $('#search').keyup(function () {
                $field = $(this);
                $('#results').html('');
                if ($field.val().length > 1)
                {
                    $.ajax({
                        type: 'GET',
                        url: 'produit/ajax/' + $(this).val(),
                        success: function (data) {
                            $('.produit_list').html($(data).find('.produit_list').html());
                        }
                    });
                }
            });
        }
    });
</script>