{% extends '@AppBundle/layout.html.twig' %}

{% block content %}
    <div class="flex">
        <ul class="produit_list no-padding col-lg-9 col-md-9 col-sm-12 col-xs-12"  style="">
            {% for produit in produits %}
                <li class="produit_item  col-lg-12">
                    <div class="produit_image">
                        <img src="{{ base_uri }}{{ product_images }}/{{ produit.imageUrl}}">
                    </div>
                    <div class="produit_content">
                        <div class="produit_header">
                            <a href="{{ path('produit_show', { 'id': produit.id }) }}"><p>{{produit.titre| truncate(250, true, '...')}}</p></a>
                        </div>
                        <div class="produit_desc">
                            <p>{{produit.description| truncate(1500, true, '')}}</p>
                        </div>
                        <div class="produit_footer">
                            {% if produit.quantite == 0 %}
                                <p class="produit_indisponible">Indis.</p>
                            {% elseif produit.quantite < 5 %}
                                <p class="produit_quantite_faible">Reste {{produit.quantite}}</p>
                            {% else %}
                                <p class="produit_quantite">Reste {{produit.quantite}}</p>
                            {% endif %}
                            <p class="produit_prix">{{produit.prix}}€</p>

                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
