{% extends '@AppBundle/layout.html.twig' %}

{% block content %}
    <div class="flex">
        <ul class="produit_show no-padding col-lg-9 col-md-9 col-sm-12 col-xs-12"  style="">
            <li class="produit_item  col-lg-12">
                <div class="produit_image">
                    <img src="{{ base_uri }}{{ product_images }}/{{ produit.imageUrl}}">
                </div>
                <div class="produit_content">
                    <div class="produit_header">
                        <a href="{{ path('produit_show', { 'id': produit.id }) }}"><p>{{produit.titre| truncate(250, true, '...')}}</p></a>
                    </div>
                    <div class="produit_desc">
                        <p>{{produit.description| truncate(1500, true, '')}}</p>
                        <br/>
                        {% for cp in produit.caracteristiqueP %}
                            <p><b>{{ cp.caracteristique.nom }}</b> : {{ cp.valeur }}</p>
                        {% endfor %}
                    </div>
                    <div class="produit_footer">
                        {% if produit.quantite == 0 %}
                            <p class="produit_indisponible">Indis.</p>
                        {% elseif produit.quantite < 5 %}
                            <p class="produit_quantite_faible">Reste {{produit.quantite}}</p>
                        {% else %}
                            <p class="produit_quantite">Reste {{produit.quantite}}</p>
                        {% endif %}
                        <p class="produit_prix">{{produit.prix}}€</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <style>

        .produit_show{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-width: 1px 0 0 1px;
            list-style:none;
        }
        .produit_show .produit_item{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding:0;
            min-height:600px;
            margin-bottom:15px;
            background-color: #F5F5F5;
        }
        .produit_show .produit_image{
            max-width:30%;
            min-width: 160px;
            padding:0;
            display: flex;
        }
        .produit_show .produit_image img {
            width: 80%;
            /*max-width: 160px;*/
            object-fit: contain;
        }

        .produit_show .produit_content{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-grow: 1;
            min-height: 300px;
            max-width:85%;
            margin:15px;
            padding:0;
        }

        .produit_show .produit_vente{
            background-color:#ecebeb;
            max-width:40%;
            min-width:200px;
            padding:0;
            display: flex;
        }

        .produit_show .produit_header{
            height: 25%;
            max-width:95%;
            flex-grow: 1;
            word-wrap: break-word;
            display: flex;
            justify-content:center;
            align-content:center;
            flex-direction:column; 
            text-align:center;

        }
        .produit_show .produit_footer{
            height:15%;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .produit_show .produit_desc{
            height: 60%;
            max-width:95%;
            flex-grow: 1;
            word-wrap: break-word;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            line-height: 1;
            overflow: hidden;
        }
        .produit_show .produit_desc p{
            margin: 0;
            height: 80%;
            overflow: hidden;
        }
        .flex{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top:5%;
        }
        .produit_show .produit_quantite{
            min-width: 50%;
            color:green;
            margin:0;
            font-weight: bold;
            text-align: left;
        }
        .produit_show .produit_quantite_faible{
            min-width: 50%;
            color:orange;
            margin:0;
            padding:2px;
            padding:0 10px;
            font-weight: bold;
            text-align: left;
        }
        .produit_show .produit_indisponible{
            min-width:50%;
            color:orangered;
            margin:0;
            padding:2px;
            padding:0 10px;
            font-weight: bold;
            text-align: left;
        }
        .produit_show .produit_prix{
            min-width:50%;
            padding:0 10px;
            margin:0;
            color:orange;
            font-weight: bold;
            text-align: right;
        }



    </style>
{% endblock %}